<section class="catalog">
  <div class="container catalog__container">
    <h2 class="title catalog__title">Каталог</h2>

    <div class="catalog__content grid">
      <div class="catalog__left">
        <div class="catalog__filter">
          <h3 class="catalog__filter-subtitle">Подбор по&nbsp;параметрам</h3>

          <div class="catalog__filter-property">
            <strong class="catalog__filter-caption">Цена, руб</strong>

            <div class="catalog__filter-inner catalog-price">
              <div class="catalog-price__wrapper">
                <input type="text" class="catalog-price__input" id="input-0">
                <input type="text" class="catalog-price__input" id="input-1">
              </div>

              <div class="catalog-price-element" id="range-slider"></div>
            </div>
          </div>

          <div class="catalog__filter-property">
            <strong class="catalog__filter-caption">Пол</strong>

            <div class="catalog__filter-inner catalog__sex">
              <label class="custom-checkbox">
                <input type="checkbox" class="custom-checkbox__field">
                <span class="custom-checkbox__content">мужской</span>
              </label>

              <label class="custom-checkbox">
                <input type="checkbox" class="custom-checkbox__field">
                <span class="custom-checkbox__content">женский</span>
              </label>
            </div>
          </div>

          <div class="catalog__filter-property">
            <strong class="catalog__filter-caption">Размер</strong>

            <div class="catalog__filter-inner catalog-size">
              <table class="sizes-table">
                <caption>Таблица размеров</caption>

                <tbody>
                  <tr>
                    <td>35</td>
                    <td>36</td>
                    <td>37</td>
                  </tr>

                  <tr>
                    <td>38</td>
                    <td>39</td>
                    <td>40</td>
                  </tr>

                  <tr>
                    <td>41</td>
                    <td>42</td>
                    <td>43</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="catalog__btns">
            <button class="btn btn-reset btn--secondary">Применить</button>
            <button class="btn-reset catalog__reset">Сбросить</button>
          </div>
        </div>
      </div>

      <div class="catalog__goods">
        <ul class="catalog__goods-list list-reset grid">
          <li class="catalog__googs-item">
            <article class="product">
              <div class="product__img">
                <img class="product__image" src="img/product_photo.jpg" alt="product photo">

                <div class="product__btns">
                  <button class="btn-reset product__btn" aria-label="Показать информацию о товаре">
                    <svg>
                      <use xlink:href="img/sprite.svg#show"></use>
                    </svg>
                  </button>

                  <button class="btn-reset product__btn" aria-label="Добавить товар в корзину">
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                </div>
              </div>

              <h4 class="product__title">Кроссовки Nike Air Force 1 '07 QS</h4>
              <span class="product__price">11 000 р</span>
            </article>
          </li>
        </ul>

        <button class="catalog__more btn-reset btn btn--primary">Показать еще</button>
      </div>
    </div>
  </div>
</section>
