<section class="instagram">
  <h2 class="visually-hidden">Форма обратной связи и instagram-лента</h2>
  <div class="container instagram__container">
    <div class="instagram__left">
      <form action="#" class="callback-form">
        <h3 class="callback-form__title title">Есть вопросы?</h3>
        <p class="callback-form__descr">Заполните форму и&nbsp;наш менеджер свяжется с&nbsp;вами</p>

        <input class="callback-form__input input" type="text" placeholder="Ваше имя">
        <input class="callback-form__input input" type="tel" placeholder="Номер телефона">
        <button class="callback-form__button btn-reset btn btn--primary">Отправить</button>

      </form>
    </div>

    <div class="instagram__right">
      <a class="instagram__link" href="https://www.instagram.com/">
        <img class="instagram__logo" src="img/Instagram_logo.png" alt="Instagram logo">

        <div class="instagram__content">
          
        </div>
      </a>
    </div>
  </div>
</section>
