html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Intro', sans-serif;
  font-size: 16px;
  color: var(--color-main);
  background-color: var(--color-white);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.is-outer {
  position: relative !important; // stylelint-disable-line declaration-no-important
  left: -9999px !important; // stylelint-disable-line declaration-no-important
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.for-mobile {
  display: none;

  @include mobile {
    display: block;
  }
}

.error {
  border: 2px #ff4019 solid !important; // stylelint-disable-line declaration-no-important
}

.btn-reset {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1210px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--grid-gap);
}

.title {
  font-family: 'Intro';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
}

.btn {
  border-radius: 4px;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;

  &--primary {
    padding: 22px 47px;
    background-color: var(--color-accent);
    color: var(--color-white);


    &:hover {
      background-color: var(--color-accent-hover);
    }
  }

  &--secondary {
    padding: 22px 75px;
    margin-bottom: var(--grid-gap);
    background: var(--color-main);
    color: var(--color-white);

    &:hover {
      background-color: var(--color-main-hover);
    }
  }

  &--thirdly {
    border: 1px solid var(--color-main);
    background: transparent;
    padding: 13px 42px;

    &:hover {
      background-color: var(--color-main);
      color: var(--color-white)
    }
  }

}

@import "mixins";

.custom-checkbox {
  @include custom-checkbox;

  &__content {
    padding-left: 35px;
    font: var(--middle-book);

    &::before {
      top: -3px;
      border-color: var(--color-cameo);
      border-radius: 4px;
      width: 24px;
      height: 24px;
    }

    &::after {
      top: -3px;
      width: 24px;
      height: 24px;
      background-image: url(../img/check.svg);
      background-size: 15px 12px;
    }
  }
}

.tooltip {
  position: relative;
  margin-left: var(--small-offset);
}

.tooltip__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  box-shadow: 2px 4px 10px rgba(0, 13, 84, 0.2);
  background-color: var(--color-white);

  svg {
    width: 6px;
    height: 10px;
  }
}

.tooltip__txt {
  position: absolute;
  left: -10px;
  bottom: calc(100% + 14px);
  z-index: 3;
  padding: var(--small-offset) var(--grid-gap);
  width: max-content;
  max-width: 426px;
  color: var(--color-main);
  background: var(--color-white);
  border-radius: 4px;
  box-shadow: 4px 8px 20px rgba(0, 13, 84, 0.2);
  opacity: 0;
  visibility: hidden;
  font-family: 'Intro Book', sans-serif;
  font-size: 14px;
  line-height: 140%;
  text-transform: initial;
  letter-spacing: 0;
  transform: translateY(10px);
  transition: opacity .3s ease-in-out, transform .3s ease-in-out, visibility .3s ease-in-out;
}

.tooltip__txt::after {
  content: '';
  position: absolute;
  left: 10px;
  bottom: -8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 8px 0;
  border-color: var(--color-white) transparent transparent transparent;
  border-radius: 4px;
}

.tooltip__btn:hover + .tooltip__txt {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.tooltip__btn:focus + .tooltip__txt {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}


.input {
  margin-bottom: var(--small-offset);
  padding: 19px 20px;
  border: none;
  border-radius: 4px;
  background-color: var(--color-white);
  font-family: 'Intro Book', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;

  &::placeholder {
    color: var(--color-gray);
  }
}


